@charset "utf-8";
/*					
	Author		CrystalCommerce.com // Ross Dallaire
	
	Colors
*/

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	object-fit: cover;
}
/* /END RESET */

/* 
=====================================================
	Layout & Framework
===================================================== */

/* 
=====================================================
	Dynamic Displays
===================================================== */
